<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- template lyrics.html.j2 -->
  <meta charset="utf-8">
  <title>{{ song.header.title | escape }}</title>
  <link rel="stylesheet" href="../css/style-lyrics.css">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  
</head>
<body>
<button onclick="document.body.classList.toggle('dark');">
  Mode Sombre/Clair
</button>
  <h1>{{ song.header.title | escape }} - {{ song.header.artist | escape }}</h1>
  {% if song.header.youtube %}
    <a href="{{ song.header.youtube | escape }}">YouTube</a>
  {% endif %}
  <pre>
	{%- for line in song.lyrics -%}
	  {%- if line.startswith("[") -%}
		<span class="indication">{{ line | escape -}}</span>
	  {%- else -%}
		{{ line | escape }}
	  {%- endif -%}
	{% endfor %}
  </pre>
  <a href="../chansons.html">Retour</a>
  <br>
  <br>
</body>
</html>
