<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- template musicos.html.j2 -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>Page des musiciens</title>
  <style>
     body {
  	   font-family: sans-serif ;
 	   background-color: green;
	   color: white;
    }	
	.song-list {
		list-style: none;
	}
	.title {
		font-size: x-large;
		font-weight: bold;
	}
	.header {
		font-family: monospace;
		position: fixed; 
		top: 0; 
		background-color: #040;
		padding: 10px;
		z-index: 1000; 
	}
	.songs {
		margin-top: 5em;
	}
	.notes {
	    background-color: orange;
	    color: black;
	}
  </style>
  <script>
	//variables globales
    var items = [];
	var search_selectors =  [
  	       '.title', '.artist' , '.song-number'
	];

	window.onload = function() {
		const search_box = document.getElementById('search');
		search_box.focus();
		search_box.innerText = "";
		search_box.value = "";
	    items = document.querySelectorAll('.song');
	}

	// montre ou cache les chansons selon la recherche

	function filterSongs() {
       const query_string = document.getElementById('search').value.trim().toLowerCase();
       items.forEach(list_item => {
      // si un élément contient la chaine ... 
      list_item.style.display = 
        search_selectors.some(selector => {
            const element = list_item.querySelector(selector);
            return element &&  element.textContent.toLowerCase().includes(query_string);
          }) ? "" : "none";  // visible ou unvisible
      });
    }

  </script>

</head>


<body>
  <div class="search-container header">
	Chercher
    	<input id="search" class="search-box" type="search"
		   placeholder="une chanson, un artiste, un numéro ... 🎶"
		   size="30"
		   oninput="filterSongs()">
		   <span class="search-icon">🔍</span>
		<br>
		   Aller en
		   <a href="#haut"><button>haut</button></a>
		   <a href="#bas"><button>bas</button></a>		   
  </div>

  <div class="songs">
  	<a name=haut><h1>Les {{ songs | length}} chansons</h1></a>
	<table class=song-table>
      {%- for song in songs -%}
      <tbody class="song">
		<tr>
		  <td><span class="song-number">{{ loop.index }}</span>.</td>
		  <td><span class="title">{{song.header.title | escape}}</span>
			- <span class="artist">{{song.header.artist | escape}}</span>
		  </td>
		</tr>
		{% if song.header.notes is defined   %}
		  <tr><td/><td><pre class="notes">{{song.header.notes | escape}}
</pre></td></tr>{% endif %}
		<tr>
		  <td></td>
		  <td>
			{%- if song.header.score is defined   -%}
			<a href="{{score_link_dir}}/{{song.header.score | escape}}"><button>&#x1d11e; Partition</button></a>
			{%- endif %}
			{%- if song.header.tabs is defined    -%}
			- <a href="{{song.header.tabs | escape}}"><button>&#x1F3B8; Tabs</button></a>{%- endif %}
		<a href="{{lyrics_link_dir}}/{{ song.name.removesuffix('.txt')}}.html"><button>&#x1F4D6; Paroles</button></a>
	{%- if song.header.youtube is defined -%} - <a href="{{song.header.youtube}}"><button>YouTube</button></a> {%- endif %}
		  <hr/></td>
		</tr>
	  </tbody>
      {% endfor %}
	</table>
	<a name="bas"></a>
  </div>
</body>
</html>
