<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- template public-list.html.j2 -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>Les chansons</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/style-liste.css">
  <script src="js/recherche-liste.js"></script>
  
  </head>
<body>
  <header>
    <img src="resources/logo-karacoll.jpeg" alt="logo KaraColl">
    <h1>KaraColl</h1>
  </header>

  <div class="intro">
    <p>🎤 <strong>Le collectif Karaoké</strong> :)<br>
    Ils jouent, <strong>vous chantez</strong> ! 🎶</p>

	 <!-- annonce ici -->
	
    <p>Si vous ne trouvez pas votre bonheur ici, n'hésitez pas à nous
	  suggérer une chanson que vous voudriez chanter ! Pour ce faire,
	  rendez-vous <a href="https://forms.gle/nma55N8XSGRkphcC8">ici</a>
	  📝</p>

    <div class="social">
      Suivez-nous sur Instagram 
      <a href="https://www.instagram.com/karacoll33?igsh=cXlqcnRxNms3MmVt&utm_source=qr" target="_blank">
        <img src="resources/instagram-logo.jpeg" alt="Instagram">
      </a>
    </div>
  </div>

  <div class="search-container">
    <input id="search" class="search-box" type="search"
		   placeholder="Rechercher une chanson, un artiste, ... 🎶"
		   oninput="filterSongs()">
    <span class="search-icon">🔍</span>
  </div>

  <ul class="sans-puce song-list">  
    {%- for song in songs -%}         

<li><span class="song-number">{{ loop.index }}</span>.
<a href="{{lyrics_link_dir}}/{{ song.name.removesuffix('.txt')}}.html"><span class="title">{{song.header.title | escape}}</span></a>
- <span class="artist">{{song.header.artist | escape}}</span> 
{% if song.header.youtube is defined %}- <a href="{{song.header.youtube}}">YouTube</a> {% endif %}
{% if song.header.score is defined   %}- <a href="{{score_link_dir}}/{{song.header.score | escape}}">Partition</a> {% endif %}
{% if song.header.tabs is defined    %}- <a href="{{song.header.tabs | escape}}">Tabs</a>{% endif %}
</li>
     {% endfor %}
  </ul>

  <a href="index.html" class="link">Retour à l'accueil</a>

</body>
</html>
